<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WordJumble.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WordJumble.Properties.Settings>
            <setting name="SoundOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TimeLimited" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="SoundOff" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Mode4Resume" serializeAs="String">
                <value />
            </setting>
            <setting name="Time4Resume" serializeAs="String">
                <value />
            </setting>
            <setting name="Point4Resume" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Missed4Resume" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Bonus4Resume" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Question4Resume" serializeAs="String">
                <value />
            </setting>
            <setting name="WinTimes4Resume" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WinTimes" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WrongTimes" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Bonus" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Point" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Missed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Mode" serializeAs="String">
                <value />
            </setting>
            <setting name="ModeLastest" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="dbDate" serializeAs="String">
                <value>09/09/2011</value>
            </setting>
            <setting name="TotalWin4Resume" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PrepareBonus" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Point4Save" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Missed4Save" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Bonus4Save" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Time4Save" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Name4Save" serializeAs="String">
                <value />
            </setting>
            <setting name="HintLimit" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ChangQuestionLimit" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ReduceLimit" serializeAs="String">
                <value>0</value>
            </setting>
        </WordJumble.Properties.Settings>
    </userSettings>
</configuration>